/* Generics */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding-top: 120px;
}

img {
	max-height: 100%;
	max-width: 100%;
}

/* Utilities */

.w-30 {
	width: 30%;
}

.w-40 {
	width: 40%;
}

.w-20px {
	width: 20px;
}

.w-100px {
	width: 100px;
}

.h-15px {
	height: 15px;
}

.more-rounded {
	border-radius: 20px;
}

.bg-l-grey {
	background-color: #bebcbb;
}

.bg-d-blue {
	background-color: #161c3b;
}

.bg-ps-blue {
	background-color: #00439c;
}

.active-border {
	border-color: transparent;
	border-radius: 0;
	border-bottom: 2px solid #2787d5;
}

.active-border-trans {
	opacity: 75%;
}

.active-border-trans:hover {
	border-bottom: 2px solid #2787d5;
	opacity: 100%;
}

.trans-black {
	color: grey;
}

.trans-black:hover {
	color: black;
}

.boing .card {
	bottom: 0;
	left: 0;
	transition: bottom .5s;
}

.boing:hover .card {
	position: relative;
	bottom: 20px;
	left: 0;
	transition: bottom .5s;
}

/* HEADER */

header nav .chevron-down a img {
	width: 10px;
}

/* JUMBOTRONS */

.jumbo-big {
	background-size: cover;
	background-position: center;
}

#returnal {
	background-image: url(../img/jumbo-bg.png);
	padding-top: 300px;
}

#it-takes-two {
	background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
	padding-top: 250px;
}

.jumbo-small {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

#ps-plus .jumbo-small{
	background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
}

#ps-now .jumbo-small {
	background-image: url(../img/ps-now-april-featured-image-block.png);
}

@media screen and (max-width: 767px) {
	#ps-plus .jumbo-small{
		background-image: none;
	}

	#ps-now .jumbo-small{
		background-image: none;
	}
}