/* Generics */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin-top: 135px;
}

img {
	max-height: 100%;
	max-width: 100%;
}

/* Header */

header nav .chevron-down a img {
	width: 10px;
}

/* Jumbotrons */

.jumbotron-big {
	background-image: url(../img/jumbo-bg.png);
	background-size: cover;
	background-position: center;
	height: 700px;
}

/* #ps5-game-list */

#ps5-game-list .card img {
	border-radius: 20px;
}